/cmake-build-debug/
/imgui-master/
/.idea/
/.vs
/saves
/lib/bin
/lib/CMakeFiles
/lib/CMakeCache.txt
/lib/jsoncpp-build
/lib/Makefile
/out
/MKwMG
/.vscode/
MG1_zad2
imgui.ini
MKwMG.exe
MKwMG.exe.manifest
MKwMG.ilk
MKwMG.pdb
*.dll
MKwMG
